.site-wrapper {
    display: flex;
    justify-content: center;
    max-width: 100vw;
    background-color: grey;
}
.site {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: .10fr .5fr .10fr .5fr .5fr .25fr .10fr .10fr;
    grid-template-areas:
    'nav nav'
    'main-head sidebar-head'
    'main-nom sidebar-main'
    'main sidebar-main'
    'main sidebar-main'
    'main sidebar-footer'
    'main-footer sidebar-footer'
    'footer footer';
    width: 900px;
    background-color: white;
}
.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-area: nav;
    background-color: lightcoral;
    grid-template-areas: 
    'imdb movies celebs news watchlist';

}

.nav a:link {
    text-decoration: none;
    color: black;
}

.nav a:hover {
    text-decoration: underline;
}

.nav a:visited {
    text-decoration: none;
    color: black;
}

.imdb-nav {
    grid-area: imdb;
    justify-self: center;
    align-self: center;
}

.movies-nav {
    grid-area: movies;
    justify-self: center;
    align-self: end;
    margin-bottom: 10px;
}

.celebs-nav {
    grid-area: celebs;
    justify-self: center;
    align-self: end;
    margin-bottom: 10px;
    
}

.news-nav {
    grid-area: news;
    justify-self: center;
    align-self: end;
    margin-bottom: 10px;
    
}

.watchlist-nav {
    grid-area: watchlist;
    justify-self: center;
    align-self: end;
    margin-bottom: 10px;
    
}


.bio {
    display: flex;
    justify-content: flex-start;
    grid-area: main-head;
}
.nom {
    grid-area: main-nom;
}
.filmography {
    display: grid;
    grid-area: main;
}
.quick-links {
    grid-area: sidebar-head;
}
.sidebar-main {
    grid-area: sidebar-main;
}
.related-news {
    grid-area: sidebar-footer;
}
.contribute {
    grid-area: main-footer;
}
.footer{
    grid-area: footer;
}