.site-wrapper {
    display: flex;
    justify-content: center;
    max-width: 100vw;
    background-color: grey;
}
.site {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: .10fr .5fr .5fr .10fr .5fr .5fr .25fr .10fr .10fr;
    grid-template-areas:
    'nav nav'
    'main-head sidebar-head'
    'main-head sidebar-main'
    'main-nom sidebar-main'
    'main sidebar-main'
    'main sidebar-footer'
    'main sidebar-footer'
    'main-footer sidebar-footer'
    'footer footer';
    width: 900px;
    background-color: white;
}
.nav {
    grid-area: nav;
    background-color: lightcoral;
    align-items: center;
}
.bio {
    grid-area: main-head;
}
.nom {
    grid-area: main-nom;
}
.filmography {
    display: grid;
    grid-area: main;
}
.quick-links {
    grid-area: sidebar-head;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "header header"
    "main1 main2"
    "main1 main2"
    "main1 main2"
    "footer footer";
    border-style: solid;
    border-color: lightblue;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
  
    
}
    .QL { 
    grid-area: header;
    }
    .Explore {
        grid-area: footer;
    }
.sidebar-main {
    grid-area: sidebar-main;
}
.related-news {
    grid-area: sidebar-footer;
}
.contribute {
    grid-area: main-footer;
}
.footer{
    grid-area: footer;
}